# Virtual environment
.venv/

# Python file caches
__pycache__/
**/*.pyc

# Module distributions
dist/
**.egg-info

# Tox files
.tox/

# Editor support files
# Visual Studio Code
.vscode/
# PyCharm
.idea/

